 {% load staticfiles %}
  <footer class="container-fluid bg-inverse unique-color-dark fondo">
    <div class="row text-white py-4 text-white">
      <div class="col-md-3">
        <img src="{% static 'img/Design1.svg' %}" alt="" width="70px" height="auto" class="float-left mr-3">
        <h4 class="lead">Pizzería "La Reportada"</h4>
        <footer class="blockquote-footer">Por <cite title="Source Title">team RED</cite></footer>
      </div>



      <div class="col-md-3">
        <h4 class="lead"></h4>
        <p></p>
      </div>
      <div class="col-md-3">
        <h4 class="lead"></h4>
        <p></p>
      </div>
      <div class="col-md-3">
        <h4 class="lead">Síguenos</h4>
        <a href="#"><span class="badge badge-primary">Facebook</span></a>
        <a href="#"><span class="badge badge-danger">Youtube</span></a>
      </div>
    </div>
  </footer>